html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
  vertical-align: baseline; }

html {
  line-height: 1;
}
body,html {
  height:100%;
}
body > section {
  /*background-color:#fff;*/
}
ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

.logo {
  width:85px;
  display:block;
}
h1, h2, h3, h4, h5, h6,#site-navigation a,.btn,.section-title,a.skew-more{
  font-family: "AG_Futura", sans-serif;
  line-height:normal;
}

h1 {
  font-size:38pt;
  font-weight:800;
  text-transform: uppercase;
}
a {
  text-decoration:none;
  transition: color .2s ease-out;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
}
a:hover,#site-navigation a:hover {
  color:#bf0a20;
  text-decoration: none;
}
#site-navigation li.current_page_item  a{
  color:#bf0a20!important;
}
#site-navigation a {
  color:#fff;
  font-size:45pt;
  text-transform: uppercase;
  font-weight:800;
}
#site-navigation  {
  top:30%;
  position:absolute;
  left:30%;
  z-index:9;
}
#site-navigation li {
  display:block;
  margin-bottom:15px;
}
.light-text a, .light-text {color:#fff!important;}

header {
  background: rgba(0, 0, 0, 1);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(231, 56, 39, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(231, 56, 39, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(231, 56, 39, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(231, 56, 39, 0) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(231, 56, 39, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(231, 56, 39, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#e73827', GradientType=0);
}

.container.navbar {
  position:relative;
  z-index:10;
}

.menu-button {
  width:40px;
  height:25px;
  overflow:hidden;
  cursor:pointer;

}
.stripe-block {
  margin-left:9px;
}
.menu-button .menu-stripe {
  width:2px;
  height:25px;
  background-color:#fff;
  margin-left:1px;
  display:inline-block;
  -ms-transform: rotate(30deg)  skewY(-31deg); /* IE 9 */
  -webkit-transform: rotate(30deg)  skewY(-31deg); /* Safari */
  transform:rotate(30deg)  skewY(-31deg);

}
.menu-button .menu-stripe:first-child {
  margin-left:0;
}

.center-block {
  display:table;
  margin: 0 auto;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.text-center {
  text-align:center;
}
.float-none {
  float:none;
}
/*.full-height {*/
  /*min-height:100%;*/
  /*height:100vh;*/
  /*!*height:100%;*!*/
/*}*/

.space-top {
  margin-top:10px;
}
.space-top-x2 {
  margin-top:20px;
}
.space-bottom {
  margin-bottom:10px;
}
.space-bottom-x2 {
  margin-bottom:20px;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}
.vertical-center {
  align-self: center;
}

/*Header*/
.site-header {
  padding:50px 0 10px;
}
.main-menu {
  display:none;
  position:fixed;
  top:0;
  left:0;
  min-width: 100%;
  min-height:100%;
  background-color: #000;
  z-index: 5;
}
#site-navigation li {
  display:block;opacity:0;
}
#space {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.main-header {
  overflow:hidden;
}
.main-header .container {
  z-index:1;
}

svg {width:100%;}

.btn {
  border: 2px solid transparent;
  text-transform: uppercase;
  font-weight:800;
  font-size:14pt;
  padding:23px 45px;
  cursor:pointer;
  display:inline-block;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
}
.btn.btn-action {
  background-color:#bf0a20;
  color:#fff;
}
.btn.btn-medium {
  padding:16px 25px;
}
.btn.btn-action:hover {
  background-color:#fff;
  color:#bf0a20;
  border-color:#bf0a20;
}
.btn.btn-action.btn-lined {
  border:2px solid #bf0a20;
  background-color:transparent;
}
.btn.btn-action.btn-lined:hover {
  background-color: #bf0a20;
  color:#fff;
}
.header-content {
  /*margin-top:-10%;*/
}

/*Gradients*/

.bg-gradient {
  background: -moz-linear-gradient(left,rgba(255,255,255,0.06) 30%, rgba(20,4,43,0.8) 180%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,rgba(255,255,255,0.06) 30%, rgba(20,4,43,0.8) 180%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,rgba(255,255,255,0.06) 30%, rgba(20,4,43,0.8) 180%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc14042b', endColorstr='#1affffff',GradientType=1 ); /* IE6-9 */
}

.skew-right {
  -moz-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  -o-transform: skew(30deg, 0deg);
  -ms-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);

}
.skew-left {
  -moz-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  -o-transform: skew(-30deg, 0deg);
  -ms-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);

}
.additional-bg {
  width:100%;
  height:120%;
  position:absolute;
}
.additional-bg.bigger {
  height:150%;
  width:80%;
  top:-15%;
  left:-10%;
}
.additional-bg.smaller {
  height:110%;
  width:70%;
  top: 10%;
  left: 0;
}
.group {
  position:relative;
  z-index:1
}
.main-header svg#parallels-right,
.main-header svg#parallels-left {
  position:absolute;
  width: 50%;
  opacity: .1;
}
.main-header svg#parallels-right {
  right: -32%;
  top: -40%;
}
.main-header  svg#parallels-left {
  left: -10px;
  width: 56%;
  top: 20%;
}
#portfolio .space-top-x2{
  margin-top:12%;
}
#portfolio {
  padding-bottom: 10%;
  overflow: hidden;
}
#portfolio > svg {
  position:absolute;
  top:15%;
  z-index:0;
}
#portfolio > .parallax-background {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:130%;
  background: url(../img/city-starway.jpg) no-repeat center top;
  background-size: cover;
}
.portfolio-footer {
  overflow:hidden;
}
.portfolio-footer > svg {
  width:102%;
  margin-left:-2px;
}
.container-skew {
  width:80%;
  display:table;
  margin:1% auto 0;
  position:relative;

}
.block-skew {
  vertical-align:top;
  background-color: #fff;
  display:inline-block;
  position:relative;
  margin-left: 1%;
  width:21%;
}
#portfolio .block-skew,
#services .block-skew {
  height:156px;
}
#services .block-skew.skew-space,
#portfolio .block-skew.skew-space {
  height: 0;
}

#services .block-skew {
  box-shadow: 1px 7px 10px rgba(0, 0, 0, 0.26);
}
.block-skew > *, .unskew-child {
  display:block;
  transform:  skew(30deg, 0deg);
  -moz-transform: skew(30deg, 0deg);
  -webkit-transform:  skew(30deg, 0deg);
  -o-transform:  skew(30deg, 0deg);
  -ms-transform:  skew(30deg, 0deg);
}

.block-skew > span {
  position:absolute;
  transform:  skew(30deg, 0deg) translateY(-50%);
  -moz-transform: skew(30deg, 0deg) translateY(-50%);
  -webkit-transform:  skew(30deg, 0deg) translateY(-50%);
  -o-transform:  skew(30deg, 0deg) translateY(-50%);
  -ms-transform:  skew(30deg, 0deg) translateY(-50%);
  top: 50%;
  left: -50%;
  right: -85%;
  margin: 0 auto;
  width: 65%;
}
#services {
  padding-bottom:10%;
}
#services .container-skew {
  width:90%;
}
#services .block-skew > span svg {
  width:50%;
}
#services .block-skew > span > span  {
  position:absolute;
  text-transform: uppercase;
  color:#bf0a20;
  font-size:11pt;
  font-weight:800;
  line-height: 15px;
  bottom:-10px;
  right: 16px;
  width: 100%;
}
#services .block-skew > span{
  width:100%;
  right: -75%;
  text-align:center;
}
#services .skew-plus-9 {
  left:18%;
}
#services .skew-plus-45 {
  left:9%;
}
#services .skew-minus-45 {
  left:-11%;
}
.block-skew.skew-space {
  border:none;
  padding:0;
}
.skew-plus-9 {
  left:20%;
}
.skew-plus-45 {
  left:10%;
}
.skew-minus-45 {
  left:-10%;
}
.skew-more {
  text-transform: uppercase;
  font-weight: 800;
  font-size:14pt;
  text-align:center;
  color:#241a60;
  position:absolute;
  transform:  skew(0deg, 0deg) translate(-50%,-50%);
  -moz-transform: skew(0deg, 0deg) translate(-50%,-50%);
  -webkit-transform:  skew(0deg, 0deg) translate(-50%,-50%);
  -o-transform:  skew(0deg, 0deg) translate(-50%,-50%);
  -ms-transform:  skew(0deg, 0deg) translate(-50%,-50%);
  top:50%;
  left:50%;
}

.absolute-center {
  position:absolute;
  transform:  translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  top:50%;
  left:50%;
}

.show-more:before {
  content:'';
  position:absolute;
  border: 6px solid transparent;
  left:20px;
  top:20px;
  right: 20px;
  bottom:20px;
  -moz-border-image: -moz-linear-gradient(top right, rgba(29,4,42,0.7) 0%, #fff 100%);
  -webkit-border-image: -webkit-linear-gradient(top right, rgba(29,4,42,0.7) 0%, #fff 100%);
  border-image: linear-gradient(to bottom left, rgba(29,4,42,0.7) 0%, #fff 100%);
  border-image-slice: 1;
  transform:  skew(0deg, 0deg);
  -moz-transform: skew(0deg, 0deg);
  -webkit-transform:  skew(0deg, 0deg);
  -o-transform:  skew(0deg, 0deg);
  -ms-transform:  skew(0deg, 0deg);
}

.section-title {
  text-transform: uppercase;
  font-size: 30pt;
  color: #241a60;
  font-weight: 800;
  top: 110px;
  z-index:2;
}
.section-title:before {
  content: attr(title);
  font-size: 90pt;
  opacity: .2;
  position: absolute;
  top: -129%;
  left: -35%;
}
#services .section-title {
  top:0;
  margin:12% 0;
}
.accent-block {
  position: absolute;
  top: -5%;
  bottom: -10%;
  right: 5%;
  width: 55%;
  border:7px solid #fff;
}
#services .accent-block {
  top: -10%;
  bottom: 10%;
  right: 30%;
  width: 65%;
}
.accent-red {
  border-color: #bf0a20;
}
.accent-black{
  border-color: #000;
}
.additional-elements {
  position: absolute;
  z-index: 2;
  width: auto;
}
.additional-elements.triangle-pair {
  bottom: 12%;
  right: 5%;
}
.additional-elements.para-block {
  bottom: 12%;
  left: 5%;
  width:30%

}.additional-elements.triangle-reverse {
  top: 10%;
  left: 5%;
  width:30%
}
.fade-block {
  position:absolute;
  bottom:0;
  width: 100%;
  height:30%;
  left:0;
  background-color: transparent;
  background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.fade-block.reversed.light {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
.fade-block.light {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
.fade-block.reversed {
  background-color: transparent;
  background: -moz-linear-gradient(bottom, rgba(125,185,232,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}
#services .fade-block.reversed {
  bottom:0;
  height:200px;
}
.our-clients .fade-block.reversed.light {
  top:0;
  height:100px;
}
.services-stripe-block {
  position:absolute;
  top: 20%;
  width: 50%;
  right: 25%;
}
.cover-bg {
  position:absolute;
  left: -15%;
  top: 5%;
  width: 60%;
  height:100%;
  overflow:hidden;
}
.cover-bg svg#ct-para,
.cover-bg svg#ct-para2 {
  position:absolute;
  width:50%;
  left:0;
  top:-4%;
}
.cover-bg svg#ct-para2 {
  left: 45%;
  fill-opacity: 0.5;
}
.our-clients .particles-js {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
}
.our-clients .our-clients-cover {
  background:url(../img/clients-bg-stars.jpg) no-repeat;
  background-size:cover;
  width:130%;
  height:100%;
}
.our-clients-cover .fade-block{
  width:130%;
  top:0;
}
.our-clients-block {
  padding-top: 200px;
}
#client-bg-shadow {
  position:relative;
  left: -10%;
  width:110%;
}
.clients-slide .author,
.clients-slide .author-position,
.clients-slide .testimonial,
.clients-slide .client-title,
.footer-info p{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18pt;

}
.swiper-slide {
  padding-right: 90px;
  padding-top: 100px;
}
.clients-slide .author-position,
.clients-slide .testimonial {
  font-size:11pt;
}

.clients-slide .company-logo {
  width:80px;
  height:80px;
}
.our-clients.our-contacts {
  background-color:#fff;
}
.our-clients-block .additional-bg.bigger {
  height: 130%;
  width: 110%;
  top: 0%;
  left: -10%;
}
.our-clients-block .additional-bg.smaller {
  height: 100%;
  width: 100%;
  top: 17%;
  left: 0;
}
.our-clients-block .accent-block {
  /*top: 5%;*/
  /*bottom: -75%;*/
  /*right: -25%;*/
  /*width: 120%;*/
  top: 26%;
  bottom: -55%;
  right: -5%;
  width: 100%;
}
.clients-slide .client-photo {
  position:absolute;
  /*right: -20%;*/
  /*top: -46px;*/
  right: 30px;
  top: 35px;
  width:150px;
  height:150px;
  overflow:hidden;
  border:7px solid #bf0a20;
  transform: rotate(46deg);
  -webkit-transform: rotate(46deg);
  -moz-transform: rotate(46deg);
  -o-transform: rotate(46deg);
}
.clients-slide .author {
  margin-top:40px;
}
.clients-slide .client-photo img{
  position:absolute;
  top: -29px;
  left: -29px;
  max-width: 140%;
  transform: rotate(-46deg);
  -webkit-transform: rotate(-46deg);
  -moz-transform: rotate(-46deg);
  -o-transform: rotate(-46deg);
}

.swiper-container {
  width:100%;
  height: 450px;
}
.our-clients-block > .flexbox-container {
  justify-content: center;
  margin: 15% 0 30%;
}

/*Form*/
.form-control, select.form-control {
  height:auto;
  font-weight: 800;
  color: #090919;
  font-size: 14pt;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-transform: uppercase;
  background-color: transparent;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
}
select:before {
  display:block;
  content: '';
  position:absolute;
  right:10px;
  top:40%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #bf0a20;
}
select option {
  padding:5px 10px;
  color:#090919;
  font-weight:800;
}
.contacts-block textarea {
  height:115px!important;
}
.light-text .form-control {
  color: #fff;
}
.form-control:focus {
  border-color: #c3c3c3;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #bfbfbf;
  font-weight: 600;
  opacity: 1;
}
.light-text .form-control::-moz-placeholder {
  color: #fff;
}

.form-control:-ms-input-placeholder {
  font-weight: 600;
  color: #bfbfbf;
}
.light-text .form-control:-ms-input-placeholder {
  color: #fff;
}
.light-text .form-control::-webkit-input-placeholder {
  color: #fff;
}
.form-control::-webkit-input-placeholder {
  color: #bfbfbf;
}

.form-control::-ms-expand {
  font-weight: 600;
  background-color: transparent;
  border: 0;
}

form .form-group {
  margin-bottom: 20px;
  position: relative;
}

/*Removing all outlines*/
.btn, .btn-default, button {
  outline: none !important;
  box-shadow: none !important;
  background-image: none !important;
}

button,input, textarea, select, a {
  outline: none !important;
}

button:focus,  textarea:focus, select:focus {
  outline: none;
}

input:focus, textarea:focus, select:focus, input:active, textarea:active, select:active, .selected-flag:active, .selected-flag:focus {
  outline: none;
  padding-left:20px;
  /*box-shadow: 0 0 6px #e0e0e0!important;*/
  /*-webkit-box-shadow: 0 0 6px #e0e0e0!important;*/
  /*-moz-box-shadow: 0 0 6px #e0e0e0!important;*/
}

/*contacts-block*/
.contacts-block {
  background-color:#090919;
  padding: 80px 0;

}
.contacts-block .flexbox-container {
  justify-content: center;
}

.contacts-block #ct-triangles{
  position:absolute;
  top:-55%;
  left:5%;
  width:20%;
}

.contacts-block #contact-stripes {
  position:absolute;
  top:-20%;
  right:15%;
  width: 40%;
  z-index:-1;
}

.on-screen.block-reveal:after {
  transform: translateX(104%);
}
.sliding-in {
  opacity: 0;
  transition: opacity 0.230s linear;
  transition-delay:.23s;
}
.on-screen .sliding-in {
  opacity:1;
}
.block-reveal {
  overflow:hidden;

}
.block-reveal:after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  transform: translateX(-104%);
  top: 0;
  background: #fff;
  transition: all 760ms cubic-bezier(0.285, 0.105, 0.465, 1.015);
}
.walking-block {
  position:absolute;
  width:100%;
  height:100%;
}
/*footer*/
footer#colophon {
  background-color:#000;
  position:relative;
  z-index:2;
}
#colophon #ft-triangles {
  position:absolute;
  width: 20%;
  right: 30px;
  top: -25%;;
}
.site-footer {
  padding:10% 0;
}
.site-footer .block-skew  {
  background: rgba(9, 9, 25, 0.8);
  width:100%;
  text-align:center;
}
.site-footer .block-skew svg {
  margin:0 auto;
  padding: 30px;
}
.copyright {
  padding-bottom:15px;
}

/*Animate Css*/
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}