@media (max-width:367px) {

}

@media (min-width:368px) and (max-width:479px) {

}
@media (max-width:465px){

}
@media (max-width:479px) {
    h1 {
      font-size:30pt;
    }
  .btn {
    padding:15px 30px;
    font-size:12pt;
  }
  .services-stripe-block {
    display:none;
  }
  #services .block-skew > span svg {
    width:50%!important;
  }
}
@media (min-width:480px) and (max-width:575px) {

}
@media (max-width:575px) {
  #site-navigation a {
    font-size: 25pt!important;
    line-height: 100%!important;
  }
  #stripes {
    display:none;
  }
}
@media (min-width:480px) and (max-width:767px) {
}

@media (min-width:768px) {

}

@media (max-width:767px) {
  .section-title:before {
    font-size: 60pt;
    left: -50%;
    right: -50%;
    margin: 0 auto;
  }
  .section-title {
    top:0;
    margin-bottom: 50px;
    text-align:center;
  }
  .block-skew {
    width:45%;
  }
  .block-skew.skew-space {
    display:none;
  }
  .block-skew.skew-first {
    left:35%;
  }

  .block-skew.skew-inside {
    margin-top:5px;
  }
  .container-skew {
    margin: 5px auto 0;
  }
  #portfolio .block-skew {
    height:100px
  }
  #services .block-skew {
    height:115px;|
  }
  #services .container-skew {
    width:80%;
  }
  #services .block-skew > span svg {
    width:30%;
  }
  .skew-plus-9,
  .skew-plus-45,
  .skew-minus-45,
  .services .skew-plus-9,
  .services .skew-plus-45,
  .services .skew-minus-45
  {
    left:0;
  }

  #ct-triangles,
  #contact-stripes,
  .triangle-pair,
  .para-block {
    display:none;
  }
  .our-clients .our-clients-cover {
    width:170%;
  }

  .our-clients-block > .flexbox-container {
    margin: 0 0 30%;
  }

  .cover-bg {
    left:-45%;
    width:100%;
  }

  .clients-slide .client-photo {
    right: 20px;
    top: 75px;
    width: 70px;
    height: 70px;
  }

  .clients-slide .client-photo img{
    top: -11px;
    left: -11px;
  }
  .contacts-block {
    padding:40px 0;
  }

  .site-footer .section-title {
    text-align:left;
  }
  .site-footer .block-skew svg {
    padding: 6%;
  }
  .main-header svg#parallels-left {
    width:100%;
  }
  .main-header svg#parallels-right {
    display:none;
  }
  #site-navigation {
    left:0!important;
  }
}


@media (max-width:767px) and (min-width: 480px) {
}

@media (max-width:991px) {
  #page > section {
    overflow:hidden;
  }
  #colophon #ft-triangles {
    top:-20px;
  }
  .social-block .accent-block {
    width:90%;
    top: -15%;
    bottom: -20%;
  }
  .social-block {
    margin-top:80px;
  }
  .social-block .space-top{
    margin-top:0
  }
}

@media (min-width:992px) {

}
@media (min-width:480px) and (max-width:991px) {


}
@media (min-width:992px) and (max-width:1199px) {
  @-moz-document url-prefix() {
    .wizard-sidebar {
      width:242px!important;
    }
  }
}

@media (min-width:992px) and (max-width:1199px)  {

}

@media (max-width:1045px) {

}

@media (max-width:1199px) {

}

@media (min-width:1200px) {
  @-moz-document url-prefix() {
    .wizard-sidebar {
      width:292px!important;
    }
  }
}

@media (min-width:1450px) {

}

@media only screen and (orientation: landscape) and (max-width:1350px){

  #site-navigation {
    top:100px;
  }
  #site-navigation a {
    font-size: 25pt;
    line-height: 100%;
  }
  #site-navigation li {
    margin-bottom:8px;
  }
  body {
    background-color:#000;
  }
  #services {
    background-color:#fff;
  }
  .main-header,
  .main-header .full-height {
    height:auto!important;
  }
  .main-header .full-height {
    padding:60px 0;
    display:block;
  }
}