

/*not connected*/

@media (max-width:367px) {
  .entities_block .pair img {
    width:190%
  }
}

@media (min-width:368px) and (max-width:479px) {
  .entities_block .pair img {
    width:150%
  }
}
@media (max-width:479px) {
  .auth-block.nav-tabs > li > a {
    margin-right:5px!important;
  }
  .steps-status h1 {
    font-size: 2em;
  }
  .steps-status {
    top:-85px;
    width:100%;
  }
  .bubble-block {
    width:20%;
  }
  body {
    font-size:12px;
  }
  .step-content .step-title {
    font-size:14px;
  }
}
@media (min-width:480px) and (max-width:575px) {
  .entities_block .pair img {
    width:100%
  }
}
@media (max-width:575px) {
  .migration-pair .pair{
    text-align:left!important;
    word-break: break-all;
    padding:0 15px!important
  }

  .migration-pair .source-block, .migration-pair .target-block {
    margin: 0!important;
    width:100%;

  }

  .pair-line .source-block,
  .pair-line .target-block {
    width:90%;
  }
}
@media (min-width:480px) and (max-width:767px) {
}

@media (min-width:768px) {
  .col-centered.intro-block {
    width:85%;
    margin-top:40px;
  }

  .form-horizontal .control-label {
    padding-top: 12px;
    margin-bottom: 0;
    text-align: right;
  }
  .navbar-nav > li {
    margin-top:10px;
  }
}

@media (max-width:767px) {
  .dashboard-content h2 {
    text-align:center;
    margin-bottom:10px;
  }
  .white-content {
    margin-bottom:15px;
  }

  .outline-tabs .nav-tabs {
    border: none;
  }

  .outline-tabs .nav-tabs > li {
    display: block;
  }

  .outline-tabs .nav-tabs > li a {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  .outline-tabs .nav-tabs > li.active a{
    border-bottom-color: #ddd;
  }
  .outline-tabs .nav-tabs > li > a:hover {
    border-color: #f2f4f5;
  }

  .migration-pair .source-block, .migration-pair .target-block {
    margin-right:15px;
  }

  .form-group {
    text-align:left!important
  }
  .btn {
    font-size: 0.9em;
    padding:12px 20px;
  }
}

@media (max-width:1045px) {
}

@media (max-width:465px){
  .auth-content .arrow-up {
    display:none;
  }

}

@media (max-width:767px) and (min-width: 480px) {
}

@media (max-width:991px) {
  /*Dashboard*/
  .status-block .col-md-11 {
    width: 100%!important;
  }
  .migration-pair .pair .status-mark h5 {
    text-align:left;
  }
  .migration-pair .pair {
    text-align:center;
  }
  .arrow-rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    margin-top:5px!important;
  }
  .pair-arrow {
    display: block!important;
    float:none!important;
  }
  .migration-pair .source-block, .migration-pair .target-block {
    border: 1px solid #e7e7e7;
    padding-right: 15px;
  }
  .migration-pair .price {
    text-align:center;
    float:none!important;
    margin-top:15px;
  }
  .continue-block {
    overflow: inherit!important;
  }
  .dashboard-content .btn,.dashboard-content .btn.btn-outlined {
    display: table!important;
    margin: 10px auto!important;
    float: none!important;
  }
  .show-migrated-cont {
    display:block;
    margin-bottom:10px;
  }

  .profile-container #billingContent img{
    width: 100%;
    height: auto;
  }
  .status-mark > div {
    position:inherit!important;
    height:45px!important;
  }
  .status-mark {
    display:block!important;
    position:relative!important;
  }
  .status-mark i {
    top:8px!important;
    left:-50%!important;
    right:-50%;
    margin:0 auto;
  }

  .migrated-content .halflings {
    margin-left:110px;
  }
  .migrated-urls {
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #fff;
    margin-bottom: 10px;
  }
  .hiw-content {
    margin:20px 0;
  }
  .box-extended:before, .box-extended:after, .box-premium:before, .box-premium:after {
    display:none!important;
  }
  .package-block .boxes {
    border-bottom:1px solid #e7e7e7;
  }
  .line-block {
    display:none;
  }
  .wizard-sidebar {
    float:none!important;
  }
  .how-to-install .col-md-4 {
    margin-bottom:15px;
  }

  .pair-line .mapp-arrow {
    display: block;
    position: static;
  }
  .wizard-sidebar {
    margin-top:20px;
  }
  .mapping-block .mapping-connect:before {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }
  .advanced-mapping > div div:first-child .form-control {
    float:none!important;
  }
  .advanced-mapping .form-control {
    width:100%!important;
  }
}

@media (min-width:992px) {
  .advanced-mapping > div > div:first-child {
    padding-right:0;
  }
  .advanced-mapping > div > div:last-child {
    padding-left:0;
  }

}
@media (min-width:480px) and (max-width:991px) {
  .pair-line .source-block,
  .pair-line .target-block {
    width:40%!important;
  }

}
@media (min-width:992px) and (max-width:1199px) {
  @-moz-document url-prefix() {
    .wizard-sidebar {
      width:242px!important;
    }
  }
}

@media (min-width:992px) and (max-width:1199px)  {
  .migration-dashboard .status-mark i {
    left:10px!important;
  }
}
@media (max-width:1199px) {
  .bridge-step {
    margin:10px 5px;
  }
  .how-to-install .line-block {
    display:none;
  }
}

@media (min-width:1200px) {
  @-moz-document url-prefix() {
    .wizard-sidebar {
      width:292px!important;
    }
  }
}

@media (min-width:1450px) {

}